<div class="cards row justify-content-center mb-5 bg-dark">
    <div class="card text-bg-dark col-6 mt-5 ms-5 me-5 " style="width: 18rem; ">
        <img src="./assets/card-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title text-center"> <strong>GITHUB</strong></h4>
            <div class="text-center text-center"><i class="fa-brands fa-github fa-xl fa-flip"></i></div>
            <p class="card-text text-center">Utilizacion de sistema de control de versiones Github en portafolio.
            </p>
            <a href="https://billyalvarez.github.io/Portafolio/" target="_blank" class="btn btn-dark">Ver
                Trabajo</a>
            <a href="https://github.com/BillyAlvarez/fdsw-github" target="_blank"
                class="btn btn-dark ms-4">GitHub</a>
        </div>
    </div>